<%- include('partials/header'); -%>

<ul class="courses">
  <li class="course">
    <img src="ClassicalPhysics.png" alt="" />
    <h4>Classical Physics</h4>
    <p>Isaac Newton, Galileo Galilei, Benjamin Franklin</p>
  </li>
  <li class="course">
    <img src="Thermodynamics.png" alt="" />
    <h4>Thermodynamics</h4>
    <p>Leonard Carnot, James Clerk Maxwell, Ludwig Boltzmann</p>
  </li>
  <li class="course">
    <img src="Electromagnetism.png" alt="" />
    <h4>Electromagnetism</h4>
    <p>Michael Faraday, Alessandro Volta, André-Marie Ampère</p>
  </li>
  <li class="course">
    <img src="Optics.png" alt="" />
    <h4>Optics</h4>
    <p>Hermann von Helmholtz, Lord Rayleigh, Augustin-Jean Fresnel</p>
  </li>
  <li class="course">
    <img src="Astrophysics.png" alt="" />
    <h4>Astrophysics</h4>
    <p>Johannes Kepler, Nicolaus Copernicus, Christiaan Huygens</p>
  </li>
  <li class="course">
    <img src="QuantumPhysics.png" alt="" />
    <h4>Quantum Physics</h4>
    <p>Max Planck, Albert Einstein, Niels Bohr</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
