<%- include('partials/header'); -%>

<header>
  <div class="physics">
    <img src="physics.jpeg" alt="" />
  </div>
  <div class="headings">
    <h2>Foundation Physics</h2>
    <h3>By Dhanush</h3>
    <a href="/courses" class="btn"> View Courses</a>
  </div>
</header>
<%- include('partials/footer'); -%>
